/*固定样式*/
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
select,
button,
fieldset,
legend,
img,
ul,
ol,
li,
dl,
dt,
dd,
th,
td,
pre,
blockquote {
  margin: 0;
  padding: 0;
}
html {
  color: #333;
  background: #fff;
  font-size: 100px;
  line-height: 1.4;
}
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Microsoft YaHei', SimSun, Verdana, Arial, sans-serif;
}
img,
fieldset {
  border: 0;
  vertical-align: middle;
}
textarea {
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
}
li {
  list-style: none;
}
img {
  border: none;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #ef7221;
}
a:focus {
  outline: none;
}
/*公用样式*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.sameImg {
  width: 100%;
}
.samePadding {
  padding-left: .15rem;
  padding-right: 0.15rem;
}
.main {
  padding-bottom: 1.42rem;
}
/*公用验证弹窗*/
label.error {
  display: block;
}
.errorLabel {
  position: fixed;
  top: 50%;
  left: 50%;
  font-size: .24rem;
  overflow: hidden;
  background-size: .31rem;
  border-radius: 3px;
  display: none;
  margin: 0 auto;
  width: 2.5rem;
  height: .5rem;
  line-height: .5rem;
  text-align: center;
  margin-left: -1.25rem;
  margin-top: -1.29rem;
  z-index: 100;
  background: #Eb7221;
  color: #fff;
}
.bootBar:first-child {
  border-right: 1px solid #fff;
}
.bootBar {
  position: fixed;
  width: 7.5rem;
  bottom: 0;
  left: 0;
  z-index: 30;
}
.bootBar a {
  float: left;
  width: 3.75rem;
  font-size: .5rem;
  padding: .1rem 0;
  text-align: center;
  background-color: #Eb7221;
  color: #fff;
}
.bootBar a img {
  width: .5rem;
}
.bootBar a p {
  text-align: center;
  padding-top: .1rem;
  margin: 0;
  font-size: .3rem;
}
.recommend .partTitle {
  padding-left: 10px;
  font-size: .26rem;
  text-align: center;
  background: #eb7221;
  color: #fff;
  padding: .05rem;
  width: 1.6rem;
  height: .4rem;
  border-radius: .3rem;
  margin: 0 auto;
  font-weight: bold;
}
.roomListUl li {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
.roomListUl li > a {
  display: block;
}
.roomListUl li:first-child {
  border-top: none;
}
.roomListUl .imgpart {
  position: relative;
}
.roomListUl .imgpart .recommendLink {
  position: absolute;
  right: .1rem;
  bottom: .1rem;
  display: block;
  width: .8rem;
  font-size: .2rem;
}
.roomListUl .roomTable {
  margin-top: .15rem;
  font-size: .4rem;
}
.roomListUl .roomTable tr td {
  text-align: left;
}
.roomListUl .roomTable tr:first-child td {
  padding-right: .2rem;
}
.roomListUl .lips span {
  font-size: .12rem;
  display: inline-block;
  padding: 0 .03rem;
  border: 1px solid #e6e6e6;
  color: #Eb7221;
  border-radius: 3px;
  margin: 0 3px;
}
.houseName {
  font-size: .4rem;
}
.allPrice {
  font-size: .26rem;
}
.onePrice {
  font-size: .26rem;
  color: #707070;
}
.streetText {
  font-size: .12rem;
  color: #707070;
}
.forTips {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: .01rem .04rem;
  font-size: .12rem;
  -webkit-transform-origin: 0% 0%;
  -webkit-transform: scale(0.8) !important;
}
.unBegin {
  color: #628828;
}
.beigin {
  color: #ff0000;
}
.yongjinWrap {
  font-size: .26rem;
  color: #d81e06;
  font-weight: bold;
}
.colorRed {
  color: #d81e06;
}
.colorGreen {
  color: green;
}
.colorYellow {
  color: yellow;
}
.colorBlue {
  color: blue;
}
.colorPurple {
  color: purple;
}
.bannerSearch {
  position: absolute;
  width: 6.5rem;
  height: .8rem;
  left: .5rem;
  top: .79rem;
  background-color: #fff;
  border: 1px solid #ccc;
}
.bannerSearch .searchselect {
  position: relative;
  width: 2rem;
  height: .8rem;
  line-height: .8rem;
  border-right: 1px solid #ccc;
}
.bannerSearch .searchselect .showText {
  border: none;
  height: .81rem;
  line-height: .81rem;
  padding-left: 5px;
  font-size: .24rem;
  background: url(../images/down.png) 97% center no-repeat;
  background-size: .4rem;
  overflow: hidden;
}
.bannerSearch .searchselect .selectText {
  display: none;
  position: absolute;
  width: 100%;
  top: .8rem;
  left: -1px;
  font-size: .22rem;
  background-color: #fff;
  border: 1px solid #ccc;
}
.bannerSearch .searchselect .selectText li {
  padding-left: 5px;
  border-top: 1px solid #ccc;
}
.bannerSearch .searchselect .selectText li:first-child {
  border-top: none;
}
.bannerSearch .searchInput {
  width: 3.5rem;
  height: .8rem;
  line-height: .8rem;
  padding-left: .2rem;
  outline: none;
  font-size: .22rem;
  border: none;
}
.bannerSearch .searchImgWrap {
  width: .68rem;
  height: .8rem;
  line-height: .78rem;
  font-size: .2rem;
}
.bannerSearch .searchImgWrap img {
  width: 100%;
}
