/*固定样式*/

html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
select,
button,
fieldset,
legend,
img,
ul,
ol,
li,
dl,
dt,
dd,
th,
td,
pre,
blockquote {
    margin: 0;
    padding: 0;
}

html {
    color: #333;
    background: #fff;
    font-size: 100px;
    line-height: 1.4;
}

body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Microsoft YaHei', SimSun, Verdana, Arial, sans-serif;
}

img,
fieldset {
    border: 0;
    vertical-align: middle;
}

textarea {
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
}

li {
    list-style: none;
}

img {
    border: none;
}
input{
	appearance:button;
   -moz-appearance:button; /* Firefox */
   -webkit-appearance:button; /* Safari 和 Chrome */
}	

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    color: #333;
}

a:focus {
    color: #333;
}

a:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*公用样式*/

.fl {
    float: left;
}

.fr {
    float: right;
}


/*.sameImg {
    width: 100%;
}*/

.samePadding,
.searchPad {
    padding-left: .15rem;
    padding-right: 0.15rem;
}

.main {
    padding-bottom: 1.42rem;
}

.mainNoPadding {
    padding-bottom: 0;
}

.layui-flow-more {
    font-size: 12px!important;
}

sup {
    top: -0.2em;
}


/*公用验证弹窗*/

label.error {
    display: block;
}

.errorLabel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: .24rem;
    overflow: hidden;
    background-size: .31rem;
    border-radius: 3px;
    width: 3rem;
    height: .5rem;
    line-height: .5rem;
    text-align: center;
    margin-left: -1.5rem;
    margin-top: -1.29rem;
    background: #Eb7221;
    color: #fff;
    z-index: 100;
}

.bootBar:first-child {
    border-right: 1px solid #fff;
}

.bootBar {
    position: fixed;
    width: 7.5rem;
    bottom: 0;
    left: 0;
    z-index: 30;
}

.bootBar a {
    float: left;
    width: 3.75rem;
    font-size: .4rem;
    padding-bottom: .08rem;
    padding-top: .05rem;
    text-align: center;
    background-color: #Eb7221;
    color: #fff;
}

.bootBar a:hover {
    color: #fff;
}

.bootBar a img {
    width: .5rem;
}

.bootBar a p {
    text-align: center;
    padding-top: .05rem;
    margin: 0;
    font-size: .3rem;
}

.recommend .partTitle {
    font-size: .3rem;
    padding-left: .2rem;
    width: 1.6rem;
    height: .4rem;
    line-height: .4rem;
    border-left: .08rem solid #Eb7221;
    margin-bottom: .1rem;
}

.roomListUl li {
    border-top: 1px solid #ccc;
    padding: 10px 0;
}

.roomListUl li>a {
    display: block;
}

.roomListUl li:first-child {
    border-top: none;
}

.roomListUl .imgpart {
    position: relative;
}

.roomListUl .imgpart a img {
    height: 2.8rem;
}

.roomListUl a.recommendLink img {
    height: auto;
    !important;
}

.roomListUl .imgpart .recommendLink {
    position: absolute;
    right: .1rem;
    bottom: .1rem;
    display: block;
    width: .8rem;
    font-size: .2rem;
}

.roomListUl .roomTable {
    margin-top: .15rem;
    font-size: .4rem;
}

.roomListUl .roomTable tr td {
    text-align: left;
    padding: .04rem 0;
}

.roomListUl .roomTable .yongjinImg {
    width: .4rem;
    margin-top: -.06rem;
}

.roomListUl .roomTable .yongjinWrap {
    color: #d81e06
}

.roomListUl .roomTable tr:first-child td {
    padding-right: .2rem;
}

.roomListUl .lips span {
    font-size: .2rem;
    display: inline-block;
    padding: .03rem .04rem;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 0 3px;
}

.color0 {
    color: #ff0000;
}

.color1 {
    color: #eb7721;
}

.color2 {
    color: green;
}

.color3 {
    color: blueviolet;
}

.color4 {
    color: blue;
}

.color5 {
    color: #d81e06;
}

.houseName {
    font-size: .4rem;
}

.allPrice {
    font-size: .3rem;
    color: #707070;
}

.onePrice {
    font-size: .3rem;
    color: #707070;
}

.streetText {
    font-size: .3rem;
    color: #707070;
}

.forTips {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: .01rem .04rem;
    font-size: .12rem;
    font-family: Arial;
}

.smallFont {
    font-size: 12px;
    -webkit-transform-origin-x: 0;
    -webkit-transform: scale(0.9);
}

.smallFonts {
    font-size: 10.8px;
}

.unBegin {
    color: #628828;
}

.bannerSearch {
    position: absolute;
    width: 6.5rem;
    height: .8rem;
    left: .5rem;
    top: 1rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .1rem;
}

.bannerSearch .searchselect {
    position: relative;
    width: 2rem;
    height: .8rem;
    line-height: .8rem;
    border-right: 1px solid #ccc;
    z-index: 100
}

.bannerSearch .searchselect .showText {
    border: none;
    height: .81rem;
    line-height: .81rem;
    padding-left: 5px;
    font-size: .28rem;
    background: url(../images/down.png) 97% center no-repeat;
    background-size: .4rem;
    overflow: hidden;
}

.bannerSearch .searchselect .selectText {
    display: none;
    position: absolute;
    width: 100%;
    top: .8rem;
    left: -1px;
    font-size: .22rem;
    background-color: #fff;
    border: 1px solid #ccc;
}

.bannerSearch .searchselect .selectText li {
    padding-left: 5px;
    font-size: .28rem;
    border-top: 1px solid #ccc;
}

.bannerSearch .searchselect .selectText li:first-child {
    border-top: none;
}

.bannerSearch .searchInput {
    width: 3.7rem;
    height: .8rem;
    line-height: .8rem;
    padding-left: .2rem;
    outline: none;
    font-size: .28rem;
    border: none;
    border-radius: .1rem;
}

.bannerSearch .searchImgWrap {
    width: .5rem;
    height: .8rem;
    line-height: .78rem;
    font-size: .2rem;
}

.bannerSearch .searchImgWrap img {
    width: .5rem;
}