.banner {
    position: relative;
}

.nav {
    padding: 0 .15rem .4rem .15rem;
}

.nav li {
    float: left;
    width: 33%;
}

.nav li a {
    display: block;
    text-align: center;
}

.nav li a img {
    width: 1rem;
}

.nav li a p {
    font-size: .3rem;
    color: #eb7721;
    font-weight: bold;
}