.banner {
  position: relative;
}
.nav {
  padding: 30px 20px;
}
.nav li {
  float: left;
  width: 33%;
}
.nav li a {
  display: block;
  text-align: center;
}
.nav li a img {
  width: .5rem;
}
.nav li a p {
  padding-top: 10px;
}
