.bannerSearch {
  width: 90%;
  margin-left: 5%;
  margin-top: 30px;
  border: 1px solid #ccc;
}
.bannerSearch .searchselect {
  width: 20%;
  height: 30px;
  line-height: 30px;
}
.bannerSearch .searchselect select {
  width: 100%;
  border: none;
  height: 30px;
  line-height: 30px;
}
.bannerSearch .searchInput {
  width: 69%;
  height: 30px;
  line-height: 8%;
  padding-left: 25px;
  outline: none;
  border: none;
  background: url(../images/search.png) 5px center no-repeat;
}
.nav {
  padding: 30px 20px;
}
.nav li {
  float: left;
  width: 33%;
}
.nav li a {
  display: block;
  text-align: center;
}
