<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>人人找房</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/modernizr-2.6.2.min.js"></script>
    <script src="js/rem.js"></script>
    <!-- vue js-->
    <script src="plugin/js/vue.js"></script>
    <script src="plugin/js/axios.min.js"></script>
    <script src="plugin/js/httpUrl.js"></script>

</head>

<body>
    <div class="wrap">
        <div class="main" id="index">
            <div class="banner">
                <img src="images/banner.jpg" width="100%">
                <div class="bannerSearch clearfix">
                    <div class="searchselect fl">
                        <div class="showText" @click="typeStatus()">新房</div>
                        <ul class="selectText">
                            <li data-id="1" @click="getTypeID(1,'新房')">新房</li>
                            <li data-id="2" @click="getTypeID(2,'二手房')">二手房</li>
                            <li data-id="3" @click="getTypeID(3,'商铺写字楼')">商铺写字楼</li>
                        </ul>
                    </div>
                    <input type="text" ref="name" class="searchInput fl" placeholder="请输入房源信息">
                    <input type="hidden" ref="typeid" :value="typeid" class="searchInput">
                    <a href="javascript:;" class="searchImgWrap fl"><img src="images/search.png" class="searchImage sameImg" @click="getHouseList()"></a>
                </div>
                <!-- 搜索部分结束 -->
                <ul class="nav clearfix">
                    <li>
                        <a href="pages/newRoomList.html">
                            <img src="images/newHouse.png">
                            <p>新房</p>
                        </a>
                    </li>
                    <li>
                        <a href="pages/oldRoomList.html">
                            <img src="images/oldHouse.png">
                            <p>二手房</p>
                        </a>
                    </li>
                    <li>
                        <a href="pages/roomList.html">
                            <img src="images/store.png">
                            <p>商铺写字楼</p>
                        </a>
                    </li>
                </ul>
                <!-- 导航部分结束 -->
                <div class="recommend samePadding">
                    <p class="partTitle">推荐房源</p>
                    <ul class="roomListUl">
                        <li v-for="item in recommend">
                            <a :href="'pages/roomDetail.html?id='+item.id">
                                <div class="imgpart">
                                    <img src="images/roomPic.jpg" width="100%">
                                    <a href="pages/recommend.html" class="recommendLink">
                                        <img src="images/indexRec.png" width="100%">
                                    </a>
                                </div>
                                <table class="roomTable">
                                    <tr>
                                        <td>
                                            <span class="newHouse">
                                                <span class="houseName">{{item.name}}</span>
                                            <sup class="forTips unBegin smallFont smallFonts" v-if="salestatus[item.salestatusid]">{{salestatus[item.salestatusid].name}}</sup>
                                            </span>
                                            <span class="allPrice">{{item.total}}万</span>
                                            <span class="onePrice">{{item.area}}m<sup>2</sup></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="streetText">{{item.street}}</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="lips">
                                                <template v-for="(tag,index) in item.house_to_tag">
                                                        <span v-if="tags[tag.tagid]" :class="'color'+index">{{tags[tag.tagid].name}}</span>
                                                    </template>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td v-if="commission[item.commissionid]"><img src="images/yongjin.png" class="yongjinImg">&nbsp;<span class="yongjinWrap">{{commission[item.commissionid].name}}</span></td>
                                    </tr>
                                </table>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- //main -->
        <div class="bootBar clearfix">
            <a href="index.html" class="on">
                <img src="images/home.png" class="sameImg">
                <p>首页</p>
            </a>
            <a href="pages/my.html">
                <img src="images/my.png" class="sameImg">
                <p>我的</p>
            </a>
        </div>
        <!-- //footBar -->
    </div>
    <!-- //wrap -->
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <!-- 嵌套数据js -->
    <script type="text/javascript" src="index.js"></script>
</body>

</html>