<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>个人中心</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	  <!--去除缓存 start-->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="">
    <!--去除缓存 end-->
    <link rel="stylesheet" href="../css/normalize.css?v=123546">
    <link rel="stylesheet" href="../css/common.css?v=123546">
    <link rel="stylesheet" href="../css/base.css?v=123546">
    <link rel="stylesheet" href="../css/other.css?v=123546">
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <script src="../js/rem.js?v=123546"></script>
    <!-- vue js-->
    <script src="../plugin/js/vue.js"></script>
    <script src="../plugin/js/axios.min.js"></script>
    <script src="../plugin/js/httpUrl.js?v=123546"></script>
</head>

<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="wrap" id="my_vue_data" v-cloak>
        <div class="main samePadding">
            <ul class="myMessageUl">
                <li class="myName">
                    <a @click="showEditMyInfo(my_info.nickname,my_info.mobile)" class="clearfix">
                        <img v-if="my_info.faceimg" :src="my_info.faceimg" class="sameImg userImage fl">
                        <img v-else src="../images/uHead.jpg" class="sameImg userImage fl">
                        <div class="rightName likePadding fl">
                            <p>姓名：<span>{{my_info.nickname}}</span></p>
                            <p>类型：<span v-if="default_datas[my_info.economictid]"> {{default_datas[my_info.economictid]["name"]}}</span></p>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="myCustomer.html" class="myClient"><img src="../images/myCusom.png" width="20"><span class="likePadding">我的客户</span></a>
                </li>
                <li class="myContact">
                    <a :href="'tel:'+connect_tel"><img src="../images/contact.png" width="20"><span class="likePadding">联系我们</span><span class="fr">{{connect_tel}}</span></a>
                </li>
            </ul>
        </div>
        <!-- //main -->
        <div class="bootBar clearfix">
            <a href="../index.html" class="on">
                <img src="../images/home.png" class="sameImg">
                <p>首页</p>
            </a>
            <a href="my.html">
                <img src="../images/my.png" class="sameImg">
                <p>我的</p>
            </a>
        </div>
    </div>
    <!-- //footBar -->
    <!-- //wrap -->
    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <!-- 嵌套数据js -->
    <script type="text/javascript" src="../js/pages/checkToken.js?v=665"></script>
    <script type="text/javascript" src="../js/pages/my.js?v=ddgg36"></script>
</body>

</html>