<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>房源列表-新房</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/room.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <script src="../js/rem.js"></script>
    <!-- vue -->
    <script src="../plugin/js/vue.js"></script>
    <script src="../plugin/js/axios.min.js"></script>
    <script src="../plugin/js/httpUrl.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="main" id="main" v-cloak>
            <div class="listearch">
                <div class="bannerSearch clearfix">
                    <input type="text" ref="name" class="searchInput fl" placeholder="请输入小区名称">
                    <a href="javascript:;" @click="search()"><img src="../images/search.png" class="searchImage sameImg"></a>
                </div>
            </div>
            <!-- 搜索部分结束 -->
            <!-- 检索条件 -->
            <div class="listSort">
                <table class="tabTable">
                    <tr>
                        <td class="td1">全西安&nbsp;&nbsp;<img src="../images/down.png" width="10"></td>
                        <td class="td2">单价&nbsp;&nbsp;<img src="../images/down.png" width="10"></td>
                        <td class="td3">房型&nbsp;&nbsp;<img src="../images/down.png" width="10"></td>
                    </tr>
                </table>
                <div class="tabconWrap">
                    <div class="forTab areaTab">
                        <div class="forTabInner">
                            <ul class="topsort">
                                <!--上半部分筛选-->
                                <li>全西安</li>
                            </ul>
                        </div>
                    </div>
                    <div class="forTab priceTab">
                        <div class="forTabInner">
                            <ul class="topsort" ref="liData" id="liData">
                                <li @click="liData('0-5000')">5000元以下</li>
                                <li @click="liData('5000-8000')">5000-8000元</li>
                                <li @click="liData('8000-11000')">8000-11000元</li>
                                <li @click="liData('11000-15000')">11000-15000元</li>
                                <li @click="liData('15000-20000')">15000-20000元</li>
                                <li @click="liData('20000-25000')">20000-25000元</li>
                                <li @click="liData('25000-30000')">25000-30000元</li>
                                <li @click="liData('30000')">30000元以上</li>
                            </ul>
                            <div class="bottomSort clearfix">
                                <div class="leftInsert fl">
                                    <input type="text" class="searchInput" v-model="priceS" @change="changePriceS(priceS)"> -
                                    <input type="text" class="searchInput" v-model="priceE" @change="changePriceE(priceE)">
                                </div>
                                <a href="javascript:;" class="searchSubmitBtn fr" @click="getHouseList()">确定</a>
                            </div>
                        </div>
                    </div>
                    <div class="forTab roomTab">
                        <div class="forTabInner">
                            <ul class="topsort">
                                <!--上半部分筛选-->
                                <template v-for="type in roomtype">
                                    <li :data-id="type.id" @click="roomData(type.id)">{{type.name}}</li>
                                </template>
                            </ul>
                            <div class="bottomSort clearfix">
                                <!--下半部分筛选-->
                                <a href="javascript:;" class="searchSubmitBtn fr" @click="getHouseList()">确定</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--房源列表-->
            <div class="recommend samePadding">
                <ul class="roomListUl" @scroll="paperScroll()" id="roomListUl">
                    <li v-for="item in houseList">
                        <a :href="'roomDetail.html?id='+item.id">
                            <div class="imgpart">
                                <img src="../images/roomPic.jpg" width="100%">
                                <a href="recommend.html" class="recommendLink">
                                    <img src="../images/recommend.png" width="20">
                                    <p>推荐</p>
                                </a>
                            </div>
                            <!--<table class="roomTable">
                                <tr>
                                    <td>
                                        <div class="newHouse">
                                            楼盘：{{item.name}}
                                            <sup class="forTips unBegin" v-if="salestatus[item.salestatusid]">{{salestatus[item.salestatusid].name}}</sup>
                                        </div>
                                    </td>
                                    <td>总价：{{item.total}}万</td>
                                    <td>面积：{{item.area}}平</td>
                                </tr>
                                <tr>
                                    <td colspan="2">街道：{{item.street}}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <div class="clearfix">
                                            <span class="fl">特点：</span>
                                            <div class="lips fl">
                                                <template v-for="tag in item.house_to_tag">
                                                    <span v-if="tags[tag.tagid]">{{tags[tag.tagid].name}}</span>
                                                </template>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td>佣金规则：</td>
                                    <td colspan="2" v-if="commission[item.commissionid]">{{commission[item.commissionid].name}}</td>
                                </tr>
                            </table>-->
                            <table class="roomTable">
                                <tr>
                                    <td>
                                        <span>{{item.name}}<sup class="forTips unBegin" v-if="salestatus[item.salestatusid]">{{salestatus[item.salestatusid].name}}</span>&nbsp;
                                        <span>{{item.total}}万</span>&nbsp;
                                        <span>{{item.area}}m<sup>2</sup></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">{{item.street}}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="clearfix">
                                            <div class="lips fl">
                                                <template v-for="tag in item.house_to_tag">
                                                    <span v-if="tags[tag.tagid]">{{tags[tag.tagid].name}}</span>
                                                </template>
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" v-if="commission[item.commissionid]"><img src="../images/yongjin.png" width="20">&nbsp;<span class="yongjinWrap">{{commission[item.commissionid].name}}</span></td>
                                </tr>
                            </table>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 产品列表结束 -->
        </div>
        <!-- //main -->
        <div class="bootBar clearfix">
            <a href="">
                <img src="../images/contact1.png" width="20">
                <p>联系我们</p>
            </a>
            <a href="recommend.html">
                <img src="../images/recommend1.png" width="20">
                <p>立即推荐</p>
            </a>
        </div>
        <!-- //footBar -->
    </div>
    <!-- //wrap -->
    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/layui/layui.js"></script>
    <script type="text/javascript" src="../js/pages/newRoomList.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
</body>

</html>