<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>房源详情</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <!--去除缓存 start-->
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="">
    <!--去除缓存 end-->
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/room.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/swiper.css" />
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <script src="../js/rem.js"></script>
    <!-- vue -->
    <script src="../plugin/js/vue.js"></script>
    <script src="../plugin/js/axios.min.js"></script>
    <script src="../plugin/js/httpUrl.js"></script>
</head>

<body>
    <div class="wrap">
        <div class="main">
            <!--房源图片轮播-->
            <div class="proImg swiper-container">
                <div class="swiper-wrapper"></div>
                <div class="pagination"></div>
            </div>
            <!--产品信息部分-->
            <div class="msgPart samePadding" id="main" v-cloak>
                <p class="partTitle" v-if="info.iscommission" ><img src="../images/yongjin.png"><span v-if="commission[info.commissionid]">{{commission[info.commissionid].name}}</span></p>
                <ul class="pricePart clearfix">
                    <!-- 新房 -->
                    <li v-if="info.typeid == 1">
                        <span>单价</span>
                        <p><span>{{info.price}}</span>元/平</p>
                    </li>
                    <!-- 二手房和商铺  -->
                    <li v-else>
                        <span>总价</span>
                        <p><span>{{info.total}}</span>万</p>
                    </li>
                    <!-- 商铺  -->
                    <li v-if="info.typeid == 3">
                        <span></span>
                        <p></p>
                    </li>
                    <li v-else>
                        <span>房型</span>
                        <p v-if="roomtype[info.roomtypeid]">{{roomtype[info.roomtypeid].name}}</p>
                    </li>
                    <li>
                        <span>建筑面积</span>
                        <p><span>{{info.area}}</span>m<sup>2</sup></p>
                    </li>
                </ul>
                <div class="listMsg">
                    <div class="tipsWrap">
                        <template v-for="(tag,index) in info.tags">
                            <span v-if="tagsData[tag.tagid]" :class="'color'+index">{{tagsData[tag.tagid].name}}</span>
                        </template>
                    </div>
                    <div class="samePadding">
                        <ul class="detailUl clearfix" v-if="info.typeid == 1">
                            <li>现状：<span class="unSale" v-if="salestatus[info.salestatusid]">{{salestatus[info.salestatusid].name}}</span></li>
                            <li>发布日期：<span>{{info.created_at}}</span></li>
                            <li>朝向：<span v-if="orientation[info.orientationid]">{{orientation[info.orientationid].name}}</span></li>
                            <li>楼层：<span v-if="floorpostion[info.floorpostionid]">{{floorpostion[info.floorpostionid].name}}/{{info.floor}}</span></li>
                            <li>电梯：<span>{{info.iselevator?'有':'无'}}</span></li>
                            <li>装修：<span v-if="decoratestyle[info.decoratestyleid]">{{decoratestyle[info.decoratestyleid].name}}</span></li>
                            <li>年代：<span>{{info.years}}</span></li>
                            <li>开盘日期：<span>{{info.opendate}}</span></li>
                            <li>权属：<span v-if="ownership[info.ownershipid]">{{ownership[info.ownershipid].name}}</span></li>
                            <li>楼盘：<span>{{info.name}}</span></li>
                            <li>用途：<span v-if="purpose[info.purposeid]">{{purpose[info.purposeid].name}}</span></li>
                            <li>物业费：<span>{{info.propertyfee}}元/m<sup>2</sup></span></li>
                            <li>双气：<span v-if="hasdoublegas[info.hasdoublegasid]">{{hasdoublegas[info.hasdoublegasid].name}}</span></li>
                        </ul>
                        <!--二手房-->
                        <ul class="detailUl clearfix" v-if="info.typeid == 2">
                            <li>单价：<span>{{info.price}}</span>元/m<sup>2</sup></li>
                            <li>发布日期：<span>{{info.created_at}}</span></li>
                            <li>朝向：<span v-if="orientation[info.orientationid]">{{orientation[info.orientationid].name}}</span></li>
                            <li>楼层：<span v-if="floorpostion[info.floorpostionid]">{{floorpostion[info.floorpostionid].name}}/{{info.floor}}</span></li>
                            <li>电梯：<span>{{info.iselevator?'有':'无'}}</span></li>
                            <li>装修：<span v-if="decoratestyle[info.decoratestyleid]">{{decoratestyle[info.decoratestyleid].name}}</span></li>
                            <li>年代：<span>{{info.years}}</span></li>
                            <li>权属：<span v-if="ownership[info.ownershipid]">{{ownership[info.ownershipid].name}}</span></li>
                            <li>楼盘：<span>{{info.name}}</span></li>
                            <li>用途：<span v-if="purpose[info.purposeid]">{{purpose[info.purposeid].name}}</span></li>
                            <li>物业费：<span>{{info.propertyfee}}元/m<sup>2</sup></span></li>
                            <li>双气：<span v-if="hasdoublegas[info.hasdoublegasid]">{{hasdoublegas[info.hasdoublegasid].name}}</span></li>
                        </ul>
                        <!--商铺-->
                        <ul class="detailUl clearfix" v-if="info.typeid == 3">
                            <li>发布日期：<span>{{info.created_at}}</span></li>
                            <li>楼层：<span v-if="floorpostion[info.floorpostionid]">{{floorpostion[info.floorpostionid].name}}/{{info.floor}}</span></li>
                            <li>朝向：<span v-if="orientation[info.orientationid]">{{orientation[info.orientationid].name}}</span></li>
                            <li>装修：<span v-if="decoratestyle[info.decoratestyleid]">{{decoratestyle[info.decoratestyleid].name}}</span></li>
                            <li>电梯：<span>{{info.iselevator?'有':'无'}}</span></li>
                            <li>层高：<span>{{info.storey}}m</span></li>
                            <li>面宽：<span>{{info.wide}}m</span></li>
                            <li>权属：<span v-if="ownership[info.ownershipid]">{{ownership[info.ownershipid].name}}</span></li>
                            <li>进深：<span>{{info.depth}}m</span></li>
                            <li>年代：<span>{{info.years}}</span></li>
                            <li>用途：<span v-if="purpose[info.purposeid]">{{purpose[info.purposeid].name}}</span></li>
                            <li>物业费：<span>{{info.propertyfee}}元/m<sup>2</sup></span></li>
                            <li>双气：<span v-if="hasdoublegas[info.hasdoublegasid]">{{hasdoublegas[info.hasdoublegasid].name}}</span></li>
                            <li>楼盘：<span>{{info.name}}</span></li>
                        </ul>
                    </div>
                    <div class="showMap samePadding">
                        <p>地址：{{info.fulladdr}}</p>
                        <div class="roomMap" id="roomMap"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //main -->
        <div class="bootBar clearfix" id="fortell" v-cloak>
            <a :href="'tel:'+connect_tel">
                <img src="../images/contact1.png">
                <p>联系我们</p>
            </a>
            <a @click="refreeClick(info.typeid,info.uuid,info.id,info.name)">
                <img src="../images/recommend1.png">
                <p>立即推荐</p>
            </a>
        </div>
        <!-- //footBar -->
    </div>
    <!-- //wrap -->

    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=C24BZ-SML63-HTA3K-YLNHT-MABOZ-3SFS3fixture-mobile"></script>

    <!-- js -->
    <script type="text/javascript" src="../js/pages/roomDetail.js"></script>
    <script type="text/javascript" src="../js/swiper.min.js"></script>
</body>

</html>