<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>房源列表-商铺写字楼列表</title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/room.css">
    <link rel="stylesheet" href="../js/layui/css/layui.css">
    <script src="../js/modernizr-2.6.2.min.js"></script>
    <script src="../js/rem.js"></script>
    <!-- vue -->
    <script src="../plugin/js/vue.js"></script>
    <script src="../plugin/js/axios.min.js"></script>
    <script src="../plugin/js/httpUrl.js"></script>
</head>

<body>
    <div class="wrap" id="main" v-cloak>
        <div class="main">
            <div class="listearch">
                <div class="bannerSearch clearfix">
                    <input type="text" :value="params.name" ref="name" class="searchInput fl" placeholder="请输入小区名称">
                    <a href="javascript:;" class="searchImgWrap fl" @click="search()"><img src="../images/search.png" class="searchImage sameImg"></a>
                </div>
            </div>
            <!-- 搜索部分结束 -->
            <!-- 检索条件 -->
            <div class="listSort">
                <table class="tabTable">
                    <tr>
                        <td class="td1">全西安&nbsp;<i class="layui-icon">&#xe625</i></td>
                        <td class="td2">总价&nbsp;<i class="layui-icon">&#xe625</i></td>
                    </tr>
                </table>
                <div class="tabconWrap">
                    <div class="forTab areaTab">
                        <div class="forTabInner">
                            <ul class="topsort">
                                <!--上半部分筛选-->
                                <li>莲湖区</li>
                                <li>未央区</li>
                                <li>雁塔区</li>
                            </ul>
                        </div>
                    </div>
                    <div class="forTab priceTab">
                        <div class="forTabInner">
                            <ul class="topsort" ref="liData" id="liData">
                                <li @click="liData('0-50')">50万以下</li>
                                <li @click="liData('50-100')">50-100万</li>
                                <li @click="liData('100-200')">100-200万</li>
                                <li @click="liData('200-300')">200-300万</li>
                                <li @click="liData('300-500')">300-500万</li>
                                <li @click="liData('500-800')">500-800万</li>
                                <li @click="liData('800-1000')">800-1000万</li>
                                <li @click="liData('1000')">1000万以上</li>
                            </ul>
                            <div class="bottomSort clearfix">
                                <div class="leftInsert fl">
                                    <input type="text" class="searchInput" v-model="priceS" @change="changePriceS(priceS)"> -
                                    <input type="text" class="searchInput" v-model="priceE" @change="changePriceE(priceE)">
                                </div>
                                <a href="javascript:;" class="searchSubmitBtn fr" @click="getHouseList()">确定</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--房源列表-->
            <div class="recommend samePadding">
                <ul class="roomListUl" id="roomListUl">
                    <li v-for="item in houseList">
                        <a :href="'roomDetail.html?id='+item.id">
                            <div class="imgpart">
                                <img src="../images/roomPic.jpg" width="100%">
                                <a @click="refreeClick(item.typeid,item.uuid)" class="recommendLink">
                                    <img src="../images/recommend.png" width="20">
                                    <p>推荐</p>
                                </a>
                            </div>
                            <table class="roomTable">
                                <tr>
                                    <td>
                                        <span class="newHouse">
                                            {{item.name}}
                                        </span>
                                        <span class="allPrice">{{item.total}}万</span>
                                        <span class="onePrice">{{item.area}}m<sup>2</sup></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><span class="streetText">{{item.street}}</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="lips fl">
                                            <template v-for="tag in item.house_to_tag">
                                                    <span v-if="tags[tag.tagid]">{{tags[tag.tagid].name}}</span>
                                                </template>
                                        </div>

                                    </td>
                                </tr>
                                <tr>
                                    <td v-if="commission[item.commissionid]"><img src="../images/yongjin.png" width="20">&nbsp;<span class="yongjinWrap">{{commission[item.commissionid].name}}</span></td>
                                </tr>
                            </table>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 产品列表结束 -->
        </div>
        <!-- //main -->
        <div class="bootBar clearfix">
            <a href="">
                <img src="../images/contact1.png" width="20">
                <p>联系我们</p>
            </a>
            <a @click="refreeClick(3,null)">
                <img src="../images/recommend1.png" width="20">
                <p>立即推荐</p>
            </a>
        </div>
        <!-- //footBar -->
    </div>
    <!-- //wrap -->
    <script type="text/javascript" src="../js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../js/layui/layui.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>

    <script type="text/javascript" src="../js/pages/roomList.js"></script>
</body>

</html>